{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Records</title>
    <style>
        body {
            background: white;
            color: black;
        }
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.05);
        }
    </style>
    
</head>

<body class="bg-light">
    <div class="container py-5">
        <div class="header-highlight">
           
            <h1 class="text-center mb-4">{{title}}</h1>
            <h3>Data Records</h3>

            <div class="myForm">
                <div class="myForm">
                    <form method='POST' action='' class="search-form">
                        <div class="row">
                            <div class="col-md-6 text-right mr-auto">
                                {% if request.user.is_authenticated %}
                                <p>Welcome, <strong>{{user}}</strong> </p>
                                {% else %}
                                <p>Please try again to Login</p>
                                <a href="{% url "login" %}" class="btn btn-info">Login</a>
                                {% endif %}
                            </div>
                            
                            <div class="col-md-6 text-right mr-auto">
                                <a href="{% url "logout" %}" class="btn btn-warning">Log Out</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-12'>
                                <div class="form-row d-flex">
                                    <div class="form-group col-md-3">
                                        <!-- Invoice number field goes here -->
                                    </div>
                                    <div class="form-group col-md-3">
                                        <!-- Name field goes here -->
                                    </div>
                                    <div class="form-group col-md-3">
                                        <!-- Generate invoice field goes here -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>

        <table class='table table-striped'>
            <thead class="thead-dark">
                <tr>
                    <th>DATE</th>
                    <th>BLOOD PRESSURE(mmHg)</th>
                    <th>BLOOD SUGAR(mols/dL)</th>
                    <th>UPDATE</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            {% for instance in records %}
            <tr>
                <td>{{instance.date}}</td>
                <td>{{instance.blood_pressure}}(mmHg)</td>
                <td>{{instance.blood_sugar}}(mols/dL)</td>
                <td><a href="{% url 'update' instance.id %}" class="btn btn-primary">Update</a></td>
                <td><a href="{% url 'delete' instance.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <div class="text-center">
            <a href="{% url "create" %}" class="btn btn-success">ADD</a>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.6.4.js' %}"></script>
    <script src="{% static 'jquery-ui-1.13.2/jquery-ui.js' %}"></script>
    <script src="{% static 'js/fancyTable.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>

    
